#footer_wrap{
    background-color :#111836;
    height : auto;
    
    

    #sponsors_wrap{
      
        height : auto;
      
        color: #fff;
        text-align: center;
        padding: 65px 0 5px;

        

        #sponsor_features{
            margin: 0 auto 35px;
            
            width : 50vw;
            height : auto;
            display: flex;
            
            justify-content: center;
            align-items: center;
            img{
                cursor: pointer;
                width : 250px;

                margin: 0 15px 15px
            }
        }
    }

    hr{
        border:20px solid white;
        padding : 0;
        margin : 0;
    
    }

    #footer_wrap{
        width: 100%;
        background-color: #0f142a;
        color: #fff;
        text-align: center;
        padding: 50px 0;
       
        font-family: ApexNew,Helvetica Neue,sans-serif;
        
        a{
            color :#ffffff;
            text-decoration:none;
         
           
        }
        
    }
}